.App {
  text-align: center;
}

.Demo-floor {
  height: 500px;
  width: 900px;
  background-color: #000;
  margin: 0 auto;
  position: relative;
}

.Car {
  min-height: 30px;
  width: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Car > span {
  /*transform: rotate(-90deg);*/
  /*-ms-transform: rotate(-90deg);*/
  /*-webkit-transform: rotate(-90deg);*/
  /*position: absolute;*/
  font-size: 10px;
  white-space: nowrap
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
